.game-content {
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.game-header {
  display: inline;
  width: 100vw;
}

.game-header input {
  width: 15vw;
  height: 7.5vh;
  border-radius: 1rem;
  border: none;
  margin: 0 1rem;
}

.game-header input:hover {
  transform: scale(1.2);
  transition: transform 0.25s ease-in-out;
}

.game-body {
  width: 100vw;
  height: 40vw;
}

.easy {
  background-color: greenyellow;
}

.medium {
  background-color: sandybrown;
}

.hard {
  background-color: lightcoral;
}

.blank {
  width: 100vw;
  height: 10vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5vw, 1fr));
  gap: 0.5rem;
  width: 60%;
  margin: 0 25vw;
}
.grid-item {
  display: flex;
  width: 7.5vw;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border: 2px solid black;
  aspect-ratio: 1/1;
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;
}

.code-behind {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5vw;
  aspect-ratio: 1/1;
  background-color: aliceblue;
  border-radius: 10px;
  z-index: 1;
  visibility: hidden;
}

.code-behind img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.finish-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.finish-screen {
  width: 60vw;
  height: 75vh;
  border-radius: 10px;
  border: 2px solid black;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 2rem;
  background-image: url("/src/images/fireworks.gif");
  background-repeat: no-repeat;
  background-size: contain;
  animation: colourchange 5s infinite ease-in;
}
.finish-screen div {
  margin: 2rem;
}

div span {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes colourchange {
  0% {
    color: white;
  }
  50% {
    color: lightgoldenrodyellow;
  }
  100% {
    color: white;
  }
}
